<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<footer th:fragment="footer">
    <div class="foot">
        <div class="info" id="foot_f">
            <div id="ins">
                <a href="https://www.instagram.com/vestige.studio/" target="_blank">Instagram</a>
                <p>ⓒ Vestige. All rights reserved.</p>
                <p>Vestige<br>
                    Suwon<br>
                    Republic of Korea</p>
            </div>
        </div>

        <div class="info" id="foot_s">
            <div id="info_list">
                <p>Project Contact<br>
                    <span id="info_list_email">ttttttt@naver.com</span></p>
                <p>Phone<br>
                    <span id="info_list_phone">+82. 10. 1111. 1111</span></p>
            </div>
        </div>
    </div>
</footer>